.field {
    width: 240px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.16);
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px 16px;
}